@font-face {
  font-family: "Baskervville-Regular";
  src: url("/fonts/Baskervville-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "NotoSerifJP-Medium-Alphabetic";
  src: url("/fonts/NotoSerifJP-Medium-Alphabetic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}